./ProjetosJava2/ColetorGeralPrecos/bin/*
ProjetosJava2/ColetorGeralPrecos/bin/*
/ProjetosJava2/ColetorGeralPrecos/bin/*
/ProjetosJava2/ColetorGeralPrecos/bin/

./DaoLib-Rec/ColetorGeralPrecos/bin/*
DaoLib-Rec/ColetorGeralPrecos/bin/*
/DaoLib-Rec/ColetorGeralPrecos/bin/*
/DaoLib-Rec/ColetorGeralPrecos/bin/

./Java-Terceiros/restfb-1.6.10/restfb-1.6.10/bin/com/restfb/*
/Java-Terceiros/restfb-1.6.10/restfb-1.6.10/bin/com/restfb/*
/Java-Terceiros/restfb-1.6.10/restfb-1.6.10/bin/com/restfb/
/Java-Terceiros/restfb-1.6.10/restfb-1.6.10/bin/com/restfb/*
\Java-Terceiros\restfb-1.6.10\restfb-1.6.10\bin\com\restfb\*
.\Java-Terceiros\restfb-1.6.10\restfb-1.6.10\bin\com\restfb\*
\Java-Terceiros\restfb-1.6.10\restfb-1.6.10\bin\com\restfb\